html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    background-color: #000000;
    background-image: url('/images/bg_cthulhu_01.jpg');
    background-size: cover;
    background-position: top center;
}

.vbox {
    display: flex;
    flex-direction: column;
}

.gameboard {
    display: flex;
    flex: 1 1 0;
    justify-content: space-between;
    padding: 0 10px;
}

.col-first {
    justify-content: space-between;
    margin-right: 30px;
}

.col-second {
    flex: 1 1 0;
    justify-content: space-between;
}

.row-played {
    display: flex;
}

.row-committed {
    display: flex;
}

.col-committed {
    width: 110px;
}

.row-story {
    display: flex;
}

.col-third {
    justify-content: space-between;
    align-items: flex-end;
}

.row-enemy {
    display: flex;
    justify-content: space-between;
}

.row-player {
    display: flex;
    justify-content: space-between;
}

.row-hand {
    display: flex;
    flex-wrap: wrap;
    max-width: 350px;
    justify-content: flex-end;
}

.row-hand > div {
    float: left;
}

.col-fourth {
    justify-content: space-between;
    width: 250px;
}











.card {
    width: 70px;
    height: 100px;
    margin: 0 10px 10px 0;
}

.card-deck {
    width: 70px;
    height: 100px;
    margin: 0 10px 10px 0;
}

.card-back {
    width: 70px;
    height: 100px;
    margin: 0 10px 10px 0;
}

.card-exhausted {
    width: 70px;
    height: 100px;
    transform: rotate(-90deg);
    margin: -15px 25px -5px 15px;
}

.card-domain {
    position: relative;
    width: 100px;
    height: 70px;
    z-index: 1;
    margin-bottom: 10px;
}

.card-resource {
    position: relative;
    width: 70px;
    height: 100px;
    left: -15px;
    transform: rotate(-90deg);
    margin-top: -15px;
    margin-left: -60px;
    margin-bottom: -20px;
    margin-right: 0;
}

.card-story {
    width: 100px;
    height: 70px;
    margin: 0 10px 10px 0;
}

.domain {
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: flex-end;
}

.highlight {
    cursor: pointer;
}
