html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    background-color: #000000;
    background-image: url('/images/bg_cthulhu_01.jpg');
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
}

.navbar {
    margin-bottom: 10px;
}

.vbox {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.gameboard {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex: 1 1 0;
    -ms-flex: 1 1 0;
    flex: 1 1 0;

    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;

    height: calc(100% - 62px);
    padding: 0 10px 5px 10px;
}

.col-first {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;

    margin-right: 5px;
}

.col-second {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;

    margin-right: 10px;
}

.row-played {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;

    min-height: 120px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
}

.section-story {
    margin: 5px 0 10px 0;
}

.row-committed {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.col-committed {
    width: 120px;
    margin: 0 5px;

    min-height: 90px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

.row-story {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.col-third {
    -webkit-flex: 0 1 350px;
    -ms-flex: 0 1 350px;
    flex: 0 1 350px;

    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;

    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;

    min-width: 170px;
    max-width: 330px;
    margin-right: 10px;
}

.row-opponent, .row-player {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    background: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 5px;
}

.row-hand {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    min-width: 90px;
    min-height: 120px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0;
}

.col-fourth {
    -webkit-flex: 0 0 250px;
    -ms-flex: 0 0 250px;
    flex: 0 0 250px;

    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;

    width: 250px;
}

.card-wrapper {
    position: relative;
    margin: 5px;
}

.row-played .card-wrapper {
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
}

.row-committed .card-wrapper {
    display: inline-block;
}

.card-wrapper > .card-frame {
    float: left;
}

.row-played .card-exhausted {
    width: 100px;
}

.row-committed .card-active {
    margin: 5px 0 0 0;
}

.row-committed .card-exhausted {
    width: 70px;
    margin: -10px 0 -15px 0;
}

.card-frame .header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.6);
    font-size: 10px;
    padding: 2px;
    color: #ffffff;
}

.card-insane, .card-domain > .card-frame, .card-story > .card-frame {
    width: 100px;
    height: 70px;
}

.card-back, .card-domain > div > .card-frame, .card-active .card-frame, .card-exhausted .card-frame {
    width: 70px;
    height: 100px;
}

.card-story {
    margin: 10px 15px;
}

.card-attachments {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    float: left;
}

.card-attachments .card-frame {
    margin: 0 -60px 0 0;
}

.card-domain > .card-frame {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.card-domain > div > .card-frame {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);

    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;

    margin: -15px -75px -15px 15px;
}

.card-resources {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;

    position: absolute;
    top: 0;
    left: 10px;
    z-index: 1;
}

.card-exhausted {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);

    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.card-resources .card-frame {
    float: left;
}

.row-domain .card-highlight, .row-played .card-highlight, .row-hand .card-highlight {
    width: 70px;
    height: 100px;
    background: green;
}

.row-played > .card-highlight {
    margin: 5px 5px 0 5px;
}

.row-committed .card-insane {
    margin: 5px 5px 0 5px;
}

.row-committed .card-highlight {
    width: 100px;
    height: 70px;
    background: green;
    margin: 5px;
}

.domain {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;

    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;

    width: 100px;
    height: 70px;
    margin-bottom: 10px;
}

.domain-drained :not(.icon) img {
    opacity: 0.4;
}

.icon-target, .icon-drained {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.highlight {
    cursor: pointer;
}

.chat {
    margin-bottom: 5px;
}

.img-responsive {
    width: 100%;
}

.row-player .draw-deck, .card-active .discard-pile {
    cursor: pointer;
}

/* lobby */

#panel-start-game {
    display: none;
}
