html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    background-color: #000000;
    background-image: url('/images/bg_cthulhu_01.jpg');
    background-size: cover;
    background-position: top center;
}

.vbox {
    display: flex;
    flex-flow: column nowrap;
}

.gameboard {
    height: calc(100% - 72px);
    display: flex;
    flex: 1 1 0;
    justify-content: space-between;
    padding: 0 10px;
}

.col-first {
    justify-content: space-between;
    margin-right: 30px;
}

.col-second {
    justify-content: space-between;
}

.row-played {
    display: flex;
}

.row-committed {
    display: flex;
}

.col-committed {
    width: 110px;
}

.row-story {
    display: flex;
}

.col-third {
    justify-content: space-between;
    align-items: flex-end;
    max-width: 350px;
    flex: 0 1 350px;
}

.row-enemy {
    display: flex;
    justify-content: space-between;
}

.row-player {
    display: flex;
    justify-content: space-between;
}

.row-hand {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.col-fourth {
    justify-content: space-between;
    width: 250px;
    flex: 0 0 250px;
}

.card-frame {
    position: relative;
    color: #ffffff;
}

.card-frame .header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.6);
    font-size: 10px;
    padding: 2px;
}

.card-frame img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.card {
    width: 70px;
    height: 100px;
    margin: 0 10px 10px 0;
}

.card-deck {
    width: 70px;
    height: 100px;
    margin: 0 10px 10px 0;
}

.card-back {
    width: 70px;
    height: 100px;
    margin: 0 10px 10px 0;
}

.card-exhausted {
    width: 70px;
    height: 100px;
    transform: rotate(-90deg);
    margin: -15px 25px -5px 15px;
}

.card-domain {
    position: relative;
    width: 100px;
    height: 70px;
    z-index: 1;
    margin-bottom: 10px;
}

.card-resource {
    position: relative;
    width: 70px;
    height: 100px;
    left: -15px;
    transform: rotate(-90deg);
    margin-top: -15px;
    margin-left: -60px;
    margin-bottom: -20px;
    margin-right: 0;
}

.card-story {
    width: 100px;
    height: 70px;
    margin: 0 10px 10px 0;
}

.domain {
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: flex-end;
}

.highlight {
    cursor: pointer;
}

.img-responsive {
    width: 100%;
}
