html, body {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-color: #000000;
    background-image: url('/images/bg_cthulhu_01.jpg');
    background-size: cover;
    background-position: top center;
}

.card {
    margin-bottom: 12px;
}

.col-20x40 {
    width: 20%;
    background-color: blue;
    display: block;
}

.col-60x15 {
    width: 60%;
    background-color: green;
    display: block;
}

.col-60x25 {
    width: 60%;
    background-color: black;
    display: block;
}

.row-40 {
    height: 40%;
    min-height: 40%;
    max-height: 40%;
}

.row-20 {
    height: 20%;
    min-height: 20%;
    max-height: 20%;
}

.row-40 .col-20x40 {
    height: 100%;
    min-height: 100%;
}

.row-40 .col-60x15 {
    height: 37.5%;
    min-height: 37.5%;

}

.row-40 .col-60x25 {
    height: 62.5%;
    min-height: 62.5%;
}

.row-20 .col-100x20 {
    margin: 0 auto;
    width: 60%;
    height: 100%;
    min-height: 100%;
}

.container-fluid {
    height: calc(100% - 60px);
}

.img-responsive {
    display: inline-block;
    max-height: 100%;
}

.navbar {
    margin-bottom: 10px;
    border: 0;
    border-radius: 0;
}
