html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    background-color: #000000;
    background-image: url('/images/bg_cthulhu_01.jpg');
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
}

.navbar {
    margin-bottom: 10px;
}

.vbox {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.gameboard {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex: 1 1 0;
    -ms-flex: 1 1 0;
    flex: 1 1 0;

    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;

    height: calc(100% - 62px);
    padding: 0 10px 5px 10px;
}

.col-first {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;

    margin-right: 30px;
}

.col-second {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.row-played {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    min-height: 120px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 10px 0 0 10px;
    margin-bottom: 5px;
}

.row-committed {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.col-committed {
    width: 110px;
}

.row-story {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.col-third {
    -webkit-flex: 0 1 350px;
    -ms-flex: 0 1 350px;
    flex: 0 1 350px;

    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;

    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;

    max-width: 350px;
}

.row-opponent {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.row-player {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.row-hand {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    min-width: 90px;
    min-height: 120px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 10px 0 0 10px;
    margin-bottom: 5px;
}

.col-fourth {
    -webkit-flex: 0 0 250px;
    -ms-flex: 0 0 250px;
    flex: 0 0 250px;

    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;

    width: 250px;
}

.card-frame {
    position: relative;
    color: #ffffff;
}

.card-frame .header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.6);
    font-size: 10px;
    padding: 2px;
}

.card-frame img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.card-active {
    width: 70px;
    height: 100px;
    margin: 0 10px 10px 0;
}

.card-deck {
    width: 70px;
    height: 100px;
    margin: 0 10px 10px 0;
}

.card-back {
    width: 70px;
    height: 100px;
    margin: 0 10px 10px 0;
}

.card-exhausted {
    width: 70px;
    height: 100px;
    margin: -15px 25px -5px 15px;

    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.card-domain {
    position: relative;
    width: 100px;
    height: 70px;
    z-index: 1;
    margin-bottom: 10px;
}

.card-resource {
    position: relative;
    width: 70px;
    height: 100px;
    left: -15px;
    margin: -15px 0 -20px -60px;

    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.card-story {
    width: 100px;
    height: 70px;
    margin: 0 10px 10px 0;
}

.domain {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;

    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;

    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.highlight {
    cursor: pointer;
}

.img-responsive {
    width: 100%;
}

.row-player .draw-deck {
    cursor: pointer;
}

/* lobby */

#panel-start-game {
    display: none;
}
